@font-face {
    font-family: 'EntypoRegular';
    src: url('font/entypo-webfont.eot');
    src: url('font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/entypo-webfont.woff') format('woff'),
         url('font/entypo-webfont.ttf') format('truetype'),
         url('font/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
}
body {
	font-family: Arial;
	margin:0px;
	padding:0px;
	background-color: black;
  	overflow: hidden;
}
hr {
	border: 0;
	height: 2px;
	background-color: rgba(255,255,255, 0.1);
}
#mediaplayer {
	/*margin-left: 4px;*/
}
#clock {
	position:absolute;
	top:20px;
	left:1150px;
	padding-top:4px;
	padding-left:3px;
	padding-right:8px;
	font-size: 24px;
	background-color: rgba(239,239,239,0.4);
	color:white;
	z-index:20;
	border-radius: 30px;
	width:85px;
	height: 30px;
}
#clock .icon {
    font-family: 'EntypoRegular';  
    color: white;
	font-size:26px;
	line-height:0;
	vertical-align:middle;
}
#clock .icon.clock:after {
	content:"N";
	font-size:48px;
}
#menu_spacer {
	position:absolute;
	top:0;
	left:0;
	width:30px;
	height:720px;
	z-index:10;
	background-color: rgba(0,0,0,0.7);
	background-size: 16px 16px; /* Controls the size of the stripes */	
	box-shadow: 1px 1px 8px gray;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
							color-stop(.25, rgba(0, 0, 0, .2)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .2)),
							color-stop(.75, rgba(0, 0, 0, .2)), color-stop(.75, transparent),
							to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%,
						transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%,
						transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
						transparent 75%, transparent);
}
#menu {
	font-size: 22px;
	z-index:10;
	color:white;
	background-color: rgba(0,0,0,0.85);
	position:absolute;
	top:0;
	left:30px;
	width:600px;
	height:720px;
}
#menu #error {
	padding-top: 324px;
	color: white;
	font-size: 36px;
	text-align:center;
}
#menu #title {
	color:#8bbf41;
	font-weight:bold;
	font-size:24px;
	padding: 10px;
}
#menu .active {
	background-color: #101519;
}
#menu .item .description {
	margin-left:150px;
	padding-left: 10px;
	padding: 6px;
}
#menu .active .description {
	border: 4px solid #2cccff;
	border-radius: 10px;
	height:86px;
	padding: 2px;
}
#menu .item .watchers {
	display: none;
}
#menu .active .watchers {
	display: block;
	margin-left: 0px;
	padding-left: 0px;
	color: #3b3f41;
	font-size: 32px;
	margin-top: -32px;
	padding-left: 20px;
	background-image: url('../images/icon-watchers.png');
	background-repeat: no-repeat;
	background-position: 60px 0px;
}
#menu .item {
	cursor:pointer;
	padding: 10px;
	padding-bottom:14px;
	height: 85px;
	border-bottom: 1px solid #111;
}
#menu .item .channel {
	color:#3b3f41;
	float:left;
	padding-left: 10px;
}
#menu .active .channel {
	color:#8bbf41;
}
#menu .item .now {
	font-weight: bold;
	font-size:24px;
	height:28px;
	overflow:hidden;
}
#menu .item .next {
	font-size: 22px;
	height: 50px;
	color:#3b3f41;
	font-style:italic;
	overflow:hidden;
}
#description {
	position:absolute;
	top:160px;
	left:240px;
	height:310px;
	width:800px;
	background-color: rgba(0,0,0,0.85);
	color:white;
	font-size: 28px;
	padding:20px;
	border-radius: 20px;
	border: 8px solid #cccccc;
	overflow: hidden;
	z-index: 100;
}
#description .channel {
	float:left;
	padding: 10px;
	height: 50px;
}
#description .channel img {
	width:120px;
	max-height:50px;
	vertical-align: middle;
}
#description .time {
	font-size: 48px;
	height: 70px;
	font-weight:bold;
	color: #cccccc;
}
#description .title {
	font-size: 36px;
	font-weight:bold;
	font-style:italic;
	height:48px;
	overflow:hidden;
}
#description .summary {
	height: 160px;
	color: #cccccc;
	overflow:hidden;
	
}
#search {
	position:absolute;
	top:160px;
	left:240px;
	height:310px;
	width:800px;
	background-color: rgba(0,0,0,0.85);
	color:white;
	font-size: 28px;
	padding:20px;
	border-radius: 20px;
	border: 8px solid #cccccc;
	overflow: hidden;
}
#search input {
    padding: 5px;  
    font-size: 28px;  
    text-shadow: 0px 1px 0px #fff;
    width: 780px;
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#bcbcbe), to(#ffffff));  
    background: -moz-linear-gradient(top,  #bcbcbe,  #ffffff);  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    border: 4px solid #cccccc;  
}
#search .prev_search {
	padding: 10px;
}
#search .prev_search.selected {
	padding: 6px;
}
#search .search_elem.selected {
    border-radius: 5px;  
    border: 4px solid #2db6ea; 
}
#video_menu_inactive {
	font-size: 14px;
	position:absolute;
	padding-left: 20px;
	padding: 5px;
	top:428px;
	left:0px;
	height: 14px;
	width: 125px;
	border-top-right-radius: 10px;
	border: 2px solid #666;
	background-color: rgba(255,255,255,0.5);
}
#videos_menu {
	position:absolute;
	padding-left: 20px;
	padding: 10px;
	top:372px;
	left:0px;
	height: 60px;
	width:1260px;
	background-color: rgba(0,0,0,0.7);
}
#videos_menu .menu {
	float: left;
	padding: 10px;
	line-height:40px;
}
#videos_menu .menu .title {
	display:none;
}
#videos_menu .menu.selected .title {
	color:white;
	font-size:24px;
	padding-left: 5px;
	font-weight:bold;
	display:inline-block;
	vertical-align:middle;
}
#videos_menu .menu.selected {
	border: 4px solid #2cccff;
	border-radius: 10px;
	padding: 6px;
}
#videos_menu .menu img {
	height: 45px;
	vertical-align:middle;
}
#videos {
	position:absolute;
	z-index:10;
	/*top:452px;*/
	top:790px;
	left:0px;
	height:210px;
	width:1240px;
	background-color: rgba(0,0,0,0.85);
	color:white;
	font-size: 18px;
	padding:20px;
	overflow: hidden;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}
#videos .video {
	float: left;
	padding: 20px;
	position: relative;
}
#videos .video.selected {
	border: 4px solid #2cccff;
	border-radius: 10px;
	padding: 16px;
}
#videos .video .thumb img {
	width: 200px;
}
#videos .video .title {
	width: 200px;
	height: 24px;
	overflow: hidden;
}
#videos .video .favorite {
	z-index: 30;
	position: absolute;
	left: 30px;
	top: 30px;
}
#videos .error {
	font-size: 28px;
	padding-top: 86px;
	padding-left: 100px;
}
#videos_spacer {
	position:absolute;
	z-index: 5;
	top:700px;
	left:0;
	height:20px;
	width:1280px;
	background-color: rgba(0,0,0,0.7);
	background-size: 16px 16px; /* Controls the size of the stripes */	
	box-shadow: 1px 1px 8px gray;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
							color-stop(.25, rgba(0, 0, 0, .2)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .2)),
							color-stop(.75, rgba(0, 0, 0, .2)), color-stop(.75, transparent),
							to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%,
						transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%,
						transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
						transparent 75%, transparent);
}

.icon {
    font-family: 'EntypoRegular';  
    color: #ccc;
	font-size:44px;
	line-height:0;
	vertical-align:middle;
}

.icon.new:after {
	content:"M";
	font-size:64px;
}
.icon.popular:after {
	content:"6";
	font-size:64px;
}
.icon.favorite:after {
	content:"7";
	font-size:64px;
}
.icon.all:after {
	content:"i";
	font-size:64px;
}
