.spacer {
	z-index:10;
	background-color: rgba(0,0,0,0.7);
	background-size: 16px 16px; /* Controls the size of the stripes */	
	box-shadow: 1px 1px 8px gray;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,
							color-stop(.25, rgba(0, 0, 0, .2)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .2)),
							color-stop(.75, rgba(0, 0, 0, .2)), color-stop(.75, transparent),
							to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%,
						transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .2) 25%, transparent 25%,
						transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%,
						transparent 75%, transparent);
}
.spacer.left-hfill {
	position:absolute;
	top:0;
	left:0;
	width:30px;
	height:720px;
}
.spacer.bottom-wfill {
	position:absolute;
	bottom:0;
	left:0;
	height:30px;
	width:1280px;
}