#videos {
    position:absolute;
    z-index:10;
    top:720px; /* load offscreen */
    left:0;
    width:1280px;
    height:720px;
    color:white;
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    overflow: hidden;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
}
#vod-menu {
    background-color: rgba(0,0,0,0.9);
    position:absolute;
    top:0;
    left:30px   ;
    width: 260px;
    height: 720px;
    z-index:10;
    padding: 20px;
}
#vod-menu h1 {
    color:#8bbf41;
    font-weight:bold;
    font-size:32px;
    padding-left:15px;
    position:relative;
}
#vod-menu ul {
    list-style: none;
    padding:0;

    margin:0;
}
#vod-menu li {
    font-size: 24px;
    padding:10px;
    border: 5px solid transparent;
}
#vod-menu li.selected {
    border: 5px solid #2cccff;
    border-radius: 5px;
}
#vod-menu li.selected.inactive {
    border: 5px solid #222;
    border-radius: 5px;
}
#vod-container {
    position:absolute;
    top:0;
    left:330px;
    padding: 20px;
    padding-right:0;
    background-color: rgba(0,0,0,0.75);
    height:720px;
}
#vod-container h1 {
    color:white;
    font-size:32px;
}
#vod-grid {
    width:930px;
}
#vod-grid .video {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 175px;
}
#vod-grid .video:last-child {
    padding-right:0;
}
#vod-grid .video img {
    width: 200px;
    height: 150px;
    border: 5px solid transparent;
}
#vod-grid .video h1 {
    margin:0;
    padding-left: 5px;
    font-size: 18px;
    width:200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#vod-grid .video.selected img {
    border: 5px solid #2cccff;
    border-radius: 5px;
}
#vod-grid .video.selected.inactive img {
    border: 5px solid #222;
    border-radius: 5px;
}
#vod-grid .error {
	color: #777;
    font-size: 32px;
	text-align: center;
	padding-top: 200px;
}